<!-- <div class="body" id="main-content" data-currency-code="{{currency_selector.active_currency_code}}">
    {{#block "hero"}} {{/block}}
    <div class="container">
        {{#block "page"}} {{/block}}
    </div>
    {{> components/common/modal/modal}}
    {{> components/common/alert/alert-modal}}
</div>
-->

<body>
    <header>
        <div class="container">
           <div class="custom-nav">
              <nav class="navbar navbar-expand-lg">
                 <div class="container-fluid">
                    <a class="navbar-brand" href="./index.html">
                    <img src="https://wpdepend.com/./images/logo.svg">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex">
                       <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                             <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">About Us</a>
                             </li>
                             <li class="nav-item">
                                <a class="nav-link" href="./services.html">Services</a>
                             </li>
                             <li class="nav-item">
                                <a class="nav-link" href="./price.html">Pricing</a>
                             </li>
                             <li class="nav-item">
                                <a class="nav-link" href="./contact.html">Contact Us</a>
                             </li>
                          </ul>
                       </div>
                    </div>
                 </div>
              </nav>
           </div>
        </div>
     </header>
     {{#if banners.top}}
     <div class="banner">
        <div class="container">
           <div class="row align-items-center">
              <div class="col-lg-6">
                 <h1>Your All-in-One Place <br> For WordPress Support And<br> Maintenance <span>Solutions</span></h1>
                 <p>Let our experts improve your online performance and power your digital growth</p>
                 <ul>
                    <li>Get up-to-date site solutions</li>
                    <li>Receive 24/7/365 round-the-clock services</li>
                    <li>Obtain daily, weekly, and monthly support assistance according to your business needs</li>
                 </ul> 
                 <a class="btn btn-cnt" href="javascript:;">Why Choose Us</a>
              </div>
              <div class="col-lg-5 offset-lg-1">
                 <img src="https://wpdepend.com/./images/banner.png" class="img-fluid">
              </div>
           </div>
        </div>
     </div>
     {{/if}}
     <div class="service-wrap pt-100 pb-100">
        <div class="star-1">
           <img src="https://wpdepend.com/./images/star-1.png" class="img-fluid">
        </div>
        <div class="star-2">
           <img src="https://wpdepend.com/./images/star-2.png" class="img-fluid">
        </div>
        <div class="star-3">
           <img src="https://wpdepend.com/./images/star-3.png" class="img-fluid">
        </div>
        <div class="star-4">
           <img src="https://wpdepend.com/./images/star-4.png" class="img-fluid">
        </div>
        <div class="container">
           <div class="row">
              <div class="col-sm-12 text-center">
                 <h2>Empower Your Digital Presence With <br>
                    The Best WordPress Management Services
                 </h2>
                 <p>Worried about losing your potential customers? Do you need someone who can completely manage your website? Well, that’s where we come in. With 10+ years of experience in the industry, the expert professionals of WpDepend will manage your site's overall performance and ensure that it's running best every day. We will save your time and money by providing you with personalized business solutions and monitoring your site daily so that you utilize that extra time to expand your client list. Our mission is to proactively work on improving the client’s site by giving them complete help desk solutions whether it is related to design and development or updates and security so that they get the best WordPress services.</p>
              </div>
           </div>
           <div class="row">
              <div class="col-sm-12 text-center zigzag">
                 <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/zigzag.png">
              </div>
           </div>
           <div class="row">
              <div class="col-sm-12 text-center">
                 <h2>Types of WordPress Services<br> We Provide</h2>
              </div>
           </div>
           <div class="row">
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Services-Recovered_26.png">
                    <h6>Security And Malware Checks</h6>
                    <p>A key to a properly functioning and healthy site is safety and security. WpDepend experts will provide you with complete WordPress security services and maintenance by protecting your site from cyber attacks and hackers and patching vulnerabilities through regular scanning. With our constant security checks and activity tracking, your user’s important data will always be protected from malware attacks and viruses.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Scheduled.png">
                    <h6>Scheduled Backups</h6>
                    <p>When a disaster happens to your sites such as loss of files or pages, you will need a quick backup to restore your important data. Our professionals will back up your database and files securely on the cloud so that you can restore a copy of your site in a few clicks. For a quick website restoration, our WordPress website support and maintenance experts offer scheduled backups on a daily or weekly basis to our clients so that they have access to it at any time in case of an emergency.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/PSD-wordpress-conversion-services_11.png">
                    <h6>24/7/265 Uptime Monitoring</h6>
                    <p>A website will be of no use if it does not have an online presence. Our WordPress services expert team will keep an eye on your site’s status 24/7/365 through automated monitoring so that even a single issue won’t cause any hindrance in its functionalities. They will receive a warning notification if it goes down after which they will start investigating to bring it back online.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_21.png">
                    <h6>Website Health Check</h6>
                    <p>We regularly check the overall health of your WordPress website so that its performance always stays flawless. This includes checking errors in web pages, enhancing the content quality, speed checking, SSL certificates loading on all web pages, and many more by using the latest tools and plugins to troubleshoot and configure those issues. </p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Wordpress-Update-Service_11.png">
                    <h6>Up-to-Date Site</h6>
                    <p>Keeping an updated website is important to rank in search engines and to save it from hackers. The reason why we stand out from our competitors is that our team members constantly update your website with the latest versions of software, themes, and plugins promptly so that it is protected against all security threats.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_18.png">
                    <h6>Search Engine Optimization</h6>
                    <p>Not getting enough traffic and ranking 
                       in search results? No need to be worried as with our WordPress maintenance plan, you will be ranked in all your targeted list of keywords with our sustainable strategies. This will improve your position in SERP and will always keep you ahead of the competition. 
                    </p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_31.png">
                    <h6>Custom Development</h6>
                    <p>When you face moderation in your business, your website will need scalable and additional functionalities that will address all the latest needs of your brand. Our partnered clients get various customized development features such as the creation of a new webpage, website redesign, addition of the newest features and elements, improving the speed of the site, optimizing the customer journey, better security, creativity, and many more. </p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_17.png">
                    <h6>Improve Accessibility</h6>
                    <p>Choosing a proper color theme to enhance readability, giving unique 
                       and descriptive names to links, using proper headings to structure the content, including alt text in every image, designing and integrating forms for users, choosing an appropriate CMS platform, and many more. All these activities are performed by our leading WordPress developers to boost the accessibility of your website. 
                    </p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_27.png">
                    <h6>Speed Optimization</h6>
                    <p>Your speed of the website impacts various important metrics like page views, conversions, retention rate, bounce rate, search engine ranking, and customer experiences. With our professional WordPress services, our clients regularly experience an improvement in page loading speed. This would be loved by both crawlers and search engines as you will get a higher ranking and more traffic and sales than your competitors.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_43.png">
                    <h6>Website Migration</h6>
                    <p>Our experienced developers will easily migrate your site to another trusted WordPress hosting partner so that you experience a stress-free migration without losing your current traffic. With this service, you will be able to overcome all the technical issues, improve SEO, avoid downtime, prevent loss of data, save time and money, and get expert support after the completion of the process. </p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_37.png">
                    <h6>Monthly Reports And Analytics</h6>
                    <p>It is important to know how much work has been done on your site and if your monthly budget is utilized properly or not. With WpDepend, you will get detailed monthly performance reports of your site which will highlight all the activities that have been done during that month.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="service-bx">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_40.png">
                    <h6>404 Error Monitoring</h6>
                    <p>The worst experience is when a user lands on the broken link of your website where it shows a 404 error. Our development team monitors our client’s website for internal and external links so that all the “Page Not Found” errors can be quickly identified. Once it has been updated, we test its usability to ensure that it is properly working in the search engine.</p>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-sm-12 text-center mt-5">
                 <a href="javascript:;" class="btn btn-prime">See Our Plan</a>    
                 <a href="javascript:;" class="btn btn-prime">Get in Touch</a>      
              </div>
           </div>
        </div>
     </div>
     <div class="steps">
        <div class="container">
           <div class="row ">
              <div class="col-sm-12 text-center">
                 <h2 class="white mb-0">Fix Your WordPress Issues <br>With Our 3 Simple Steps</h2>
              </div>
           </div>
           <div class="row align-items-center pt-100">
              <div class="col-lg-6">
                 <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/banner-2.png" class="img-fluid">
              </div>
              <div class="col-lg-5 offset-lg-1">
                 <div class="point">
                    <ul>
                       <li>
                          <h6>Send Us A Request</h6>
                          <p>You need to send a detailed description of the issues you are facing through our ticketing system. Within a few hours, our dedicated team member will respond to your query and look for the credentials to fix your site. </p>
                       </li>
                       <li>
                          <h6>Redressing And Fixing</h6>
                          <p>After this, we will copy your site to debug the problem so that your live website is not harmed in the initial process. As soon as our WordPress maintenance members troubleshoot and resolve the issues, they will apply that to your live website. </p>
                       </li>
                       <li>
                          <h6>Sit back And Relax</h6>
                          <p>Once your problems are resolved, we will send you a confirmation email of the final results.</p>
                       </li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="whychoose pt-100 pb-100">
        <div class="container">
           <div class="row justify-content-lg-center mb-5">
              <div class="col-lg-8 text-center">
                 <h2>Why Choose WpDepend For <br>WordPress Management Services?</h2>
                 <p>We help our clients upgrade their WordPress site performance in various ways. Know more about why site owners choose our WordPress maintenance services.</p>
              </div>
           </div>
           <div class="row">
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_06.png">
                    <h6>Improve Brand <br>Reputation</h6>
                    <p>With our WordPress support services, you will get performance monitoring, security, and uptime every minute which will make your site user-friendly and will boost your brand reputation.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_09.png">
                    <h6>Personal WordPress Expert <br>Developer</h6>
                    <p>Once you submit your ticket at our help desk, a dedicated developer will take care of all the development issues and will fix the errors on your website carefully. </p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_03.png">
                    <h6>Minimize Customer <br>Churn</h6>
                    <p>We help your customers establish trust and loyalty by providing your site with complete WordPress maintenance and support services so that it never lacks any feature or security.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_14.png">
                    <h6>Dedicated And Friendly <br>Support Team</h6>
                    <p>Our experts are highly professional at their job as they know every aspect of your WordPress site. No matter what your issues are, our dedicated member will respond to your email within minutes. </p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_15.png">
                    <h6>Improve Your <br>Conversion Rate</h6>
                    <p>Our clients have experienced a huge percentage of increase in the conversion rate through our WordPress maintenance plan as we never let their site face any technical issues and save it from all malicious attacks. </p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_17.png">
                    <h6>Single-click Website <br>Restoration</h6>
                    <p>Whenever a website restoration is needed, our WordPress support services team will restore your entire website to its original state in just one click so that it keeps running back at its original speed. </p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_29.png">
                    <h6>Save Time <br>And Money</h6>
                    <p>If you send an email to an agency or a developer, there are high chances that they add up these charges quickly. However, with our website development plans, you will get quick responses to your issues so that you can focus that time on growing your online business.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_26.png">
                    <h6>Consultation With <br>Specialists</h6>
                    <p>We carry out extensive industry research and perform marketing analytics to identify goals that will take your online business to another level. WpDepend is the right choice of clients as we give proper guidance and support to business owners that will help them grow in the long run.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_23.png">
                    <h6>Round-the-Clock<br> Support</h6>
                    <p>Your website will never be down at any point in time as our WordPress maintenance and support services developers will monitor, secure, update, and back up your site every day so that it keeps running smoothly by improving your user experience.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_39.png">
                    <h6>Suggestions And <br>Improvements</h6>
                    <p>Our development team will provide you with an elaborate report from time to time and will recommend changes that will improve the overall performance of your website whether it is related to content or designing and developing various pages so that you always win over your competitors.</p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_36.png">
                    <h6>Bring Back Lost <br> Prospects</h6>
                    <p>You will lose your potential customers if you are using irrelevant content on your site or targeting the wrong audience. With our unique approach and strategies in delivering WordPress maintenance services, our clients can re-engage with the lost leads as we perform a series of steps that involves targeting lost leads through emails and ads, creating lead nurturing content, and analyzing the performance at the end. </p>
                 </div>
              </div>
              <div class="col-sm-4">
                 <div class="wd-service">
                    <img src="https://wpdepend.com/wp-content/themes/aig-theme/images/Index-V4_34.png">
                    <h6>Copywriting And Content <br>Marketing</h6>
                    <p>A great piece of information present on 
                       a website is highly important to attract potential clients and increase traffic, conversion rates, and sales. Now you don’t have to look for a specific content marketer as our WordPress management services plan provides our clients with different types of content they need on their site.
                    </p>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="contact pt-100 pb-100">
        <div class="container">
           <div class="row justify-content-lg-center">
              <div class="col-lg-10 text-center">
                 <h2>Talk To A Specialist To Explore <br>
                    A Solution That Is Right For You
                 </h2>
              </div>
           </div>
           <div class="contact-form">
              <div class="row justify-content-lg-center white-color">
                 <div class="col-sm-12 col-lg-8">
                    <div class="row">
                       <div class="col-sm-6">
                          <div class="mb-3">
                             <input type="text" class="form-control" placeholder="Name">
                          </div>
                       </div>
                       <div class="col-sm-6">
                          <div class="mb-3">
                             <input type="text" class="form-control" placeholder="Email Address">
                          </div>
                       </div>
                       <div class="col-sm-6">
                          <div class="mb-3">
                             <input type="text" class="form-control" placeholder="Phone Number">
                          </div>
                       </div>
                       <div class="col-sm-6">
                          <div class="mb-3">
                             <input type="text" class="form-control" placeholder="Website URL">
                          </div>
                       </div>
                       <div class="col-sm-12">
                          <div class="mb-3">
                             <textarea class="form-control" placeholder="How can we help?*" rows="6"></textarea>
                          </div>
                       </div>
                       <div class="col-sm-12 text-center mt-2">
                          <button type="submit" class="btn btn btn-prime">Submit Request</button>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>